<!DOCTYPE html>
{% from "macros.html" import link_button, text_link %}
<html>

<head>
  <title>some-app</title>
</head>

<body>
  <link rel="stylesheet" href="/static/style.css">
  <main class="main">
    <h1>Front Page</h1>

    <div class="tabs">
      <div class="tab-buttons">
        <div class="horizontal-button-list" style="--n-buttons:4">
          <ul>
            <li class="active-tab"><p>pools</p></li>
            <li><a class="link-button" href="/posts">posts</a></li>
            <li><a class="link-button" href="/users">users</a></li>
            <li><a class="link-button" href="/statistics">statistics</a></li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
          {% include 'post-pool-list.html' %}
      </div>
    </div>

  </main>
</body>

</html>

