
:root {
  --main-width: 500px;
  --account-block-width: 200px;
  --previous-button-width: 40px;
  --border-thickness: 3px;
  --main-color: #ccc;
  --border-rounding: 3px;
  --text-height: 15px;
  --button-height: calc(var(--text-height) + 4px);
  --button-list-margin: 3px;
  --button-list-padding: 5px;
  --vertical-button-gap: 3px;
  --horizontal-button-gap: 3px;
  --block-color: #445;
  --element-color: #aab;
  --hover-color: #eef;
  --active-color: #778;
  --headline-color: #222;
  --text-color1: black;
  --text-color2: white;
  --bg-color: #777;
}

h1 {
  padding: 5px;
}

html {
  background-color: var(--bg-color);
}


.main {
  background-color: var(--main-color);
  width: var(--main-width);
  left: calc(50% - var(--main-width) / 2);
  position: absolute;
  border-radius: var(--border-rounding);
  border-style: solid;
  margin-bottom: 5px;
}

.previous-page {
  width: var(--previous-button-width);
  height: var(--previous-button-width);
  left: calc(50% - var(--main-width) / 2 - 5px -  var(--previous-button-width));
  position:absolute;
  top: 10px;
  margin: 1px;
  padding: 0px;
  border-style: none;
  border-radius: var(--border-rounding);
  border-color: var(--text-color1);
  background-color: var(--block-color);
}

.previous-page .form-button {
  width: var(--previous-button-width);
  height: var(--previous-button-width);
  display: inline-block;
  color: var(--text-color2);
  background-color: var(--block-color);
  font-size: 40px;
  text-align: center;
  line-height: calc(var(--previous-button-width) - var(--border-thickness));
}

.previous-page .link-button:hover {
  color: var(--text-color1);
  background-color: var(--element-color);
}



.account-block {
  width: var(--account-block-width);
  background-color: var(--main-color);
  position: relative;
  margin: 1px;
  padding: 0px;
  left: calc(50% + var(--main-width) / 2 + 10px);
  border-style: solid;
  border-radius: var(--border-rounding);
}

.error {
  color: #f22;
  font-size: 12px;
  margin: 0px;
}

.account-block h3 {
  color: var(--text-color2);
  background-color: var(--headline-color);
  margin: 0px;
  padding: 5px;
  border-radius: var(--border-rounding);
}


.vertical-button-list li {
  margin: var(--vertical-button-gap) 0px var(--vertical-button-gap) 0px;
}

.vertical-button-list li.top {
  margin: 0px 0px var(--vertical-button-gap) 0px;
}

.vertical-button-list li.bottom {
  margin: var(--vertical-button-gap) 0px 0px 0px;
}

.vertical-button-list ul {
  margin: var(--button-list-margin);
  padding: var(--button-list-padding);
  list-style: none;
  background-color: var(--block-color);
  border-radius: var(--border-rounding);
}

.vertical-button-list {
  margin: 0px;
  padding: 0px;
  text-align: center;
  border-radius: var(--border-rounding);
}




.horizontal-button-list {
  --n-buttons: 4;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 0px;
  border-radius: var(--border-rounding);
}

.horizontal-button-list ul {
  margin: var(--button-list-margin);
  padding: var(--button-list-padding);
  list-style: none;
  background-color: var(--block-color);
  border-radius: var(--border-rounding);
}

.horizontal-button-list li.first {
  margin: 0px calc(var(--horizontal-button-gap) / 2) 0px 0px;
}

.horizontal-button-list li.last {
  margin: 0px 0px 0px calc(var(--horizontal-button-gap) / 2);
}

.horizontal-button-list li {
  display: inline-block;
  margin: 0px calc(var(--horizontal-button-gap) / 2) 0px calc(var(--horizontal-button-gap) / 2);
  width: calc(99% / var(--n-buttons) - calc(var(--n-buttons) - 1) / var(--n-buttons) * var(--horizontal-button-gap));
}


a.link-button {
  display: block;
  color: var(--text-color1);
  text-decoration: none;
  background-color: var(--element-color);
  min-height: var(--button-height);
  font-size: var(--text-height);
  border-radius: var(--border-rounding);
}

a.link-button:hover {
  background-color: var(--hover-color);
}

input.field {
  width: calc(100% - 2 * var(--button-list-padding));
}

input.form-button {
  color: var(--text-color1);
  text-decoration: none;
  background-color: var(--element-color);
  font-size: var(--text-height);
  min-height: var(--button-height);
  width: 100%;
  border-radius: var(--border-rounding);
  border-style: none;
  margin: 0;
  padding: 0;
}

input.form-button:hover {
  background-color: var(--hover-color);
}


label {
  display: block;
  color: var(--text-color2);
/*background-color: #fee;*/
  text-align: left;
  margin: 5px 3px 3px 3px;
}



.active-tab p {
  display: block;
  color: var(--text-color2);
  text-decoration: none;
  background-color: var(--active-color);
  min-height: calc(var(--button-height) + var(--button-list-padding));
  font-size: var(--text-height);
  border-radius: var(--border-rounding) var(--border-rounding) 0px 0px;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 3px #000;
}

.tab-buttons .horizontal-button-list ul {
/*margin: var(--button-list-margin);*/
  border-radius: var(--border-rounding) var(--border-rounding) 0px 0px;
  margin-bottom: 0px;
  padding: var(--button-list-padding);
  padding-bottom: 0px;
} 


.tab-buttons .horizontal-button-list li {
  padding-bottom:  var(--button-list-padding);
}

.tab-buttons .horizontal-button-list li.active-tab {
  padding-bottom: 0px;
}



.tab-content p {
  display: block;
  background-color: var(--element-color);
  margin: 5px;
  min-height: 50px;
  border-radius: 0px 0px var(--border-rounding) var(--border-rounding);
  padding: 3px;
}

.tab-content {
  background-color: var(--active-color);
  font-size: var(--text-height);
  border-radius: 0px 0px var(--border-rounding) var(--border-rounding);
  margin: 3px;
  margin-top: 0px;
  padding: 3px;
  border-style: none solid solid solid;
  border-color: var(--block-color);
  border-width: calc(var(--button-list-padding) + var(--horizontal-button-gap) - 1px);
}


.post-pool-header {
  --pool-header-text-color: #eee;
  --pool-header-headline-bg: #222;
  --pool-header-bg:  var(--block-color);
  color: var(--pool-header-text-color);
  text-decoration: none;
  background-color: var(--pool-header-bg);
  padding: 2px;
  border-radius: var(--border-rounding);
}

.post-pool-header:hover {
  --pool-header-headline-bg: #333;
  --pool-header-bg:  #666;
  --pool-header-text-color: #fff;
}

.post-pool-header h3 {
  background-color: var(--pool-header-headline-bg);
  margin: 2px;
  padding: 5px;
  border-radius: var(--border-rounding);
}

.post-pool-header p {
  min-height: var(--text-height);
  margin: 2px;
  padding: 5px;
  margin-left: 7px;
  background-color: var(--pool-header-bg);
}




.header-list li {
  list-style: none;
  text-decoration: none;
  width: calc(100% - 14px);
  margin: 7px;
  background-color: var(--pool-header-bg);
}

.header-list ul {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 1px;
/*background-color: var(--element-color);*/
}


#post {
  display: block;
  background-color: var(--element-color);
  margin: 5px;
  min-height: 50px;
  border-radius: var(--border-rounding);
  padding: 3px;
  text-align: left;
}

#info {
  display: block;
  background-color: var(--element-color);
  margin: 5px;
  border-radius: var(--border-rounding);
  padding: 3px;
  text-align: left;
}























