

* {
  background-color: #222;
}

.main {
  width:500px;
  padding:10px;
  border-style: solid;
  margin-left: calc(50% - 250px);
  border-radius: 8px;
  background-color: #777;
}

.main h1 {
  background-color: #bbb;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

.pool-list li {
  list-style: none;
  text-decoration: none;
  width: calc(500px - 14px);
  margin: 7px;
  background-color: var(--pool-header-bg);
}

.pool-list ul {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 1px;
  background-color: #BBB;
  border-radius: 0px 20px 5px 20px;
}


.post-pool-header {
  --pool-header-text-color: #eee;
  --pool-header-headline-bg: #222;
  --pool-header-bg:  #444;
  color: var(--pool-header-text-color);
  text-decoration: none;
  background-color: var(--pool-header-bg);
  padding: 2px;
  border-radius: 5px 20px;
}

.post-pool-header:hover {
  --pool-header-headline-bg: #333;
  --pool-header-bg:  #666;
  --pool-header-text-color: #fff;
}

.post-pool-header h3 {
  background-color: var(--pool-header-headline-bg);
  margin: 2px;
  padding: 5px;
  border-radius: 5px 20px 5px 5px;
}

.post-pool-header p {
  margin: 2px;
  padding: 5px;
  margin-left: 7px;
  background-color: var(--pool-header-bg);
}

.link-button {
  text-decoration: none;
  background-color: var(--pool-header-bg);
}


.tab-label {
  background-color: #BBB;
  border-radius: 5px 5px 0px 0px;
  padding: 2px;
  width: 4em;
  text-align: center;
  float: left;
}

.tab-label p {
  background-color: #DDD;
  margin: 1px 1px 0px 1px;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
}

.tab-page {
  margin-top: 44px;
  background-color: #BBB;
  width: 500px;
  border-radius: 0px 20px 5px 20px;
}

.tab-page div {
  background-color: #777;
}

.pool-list div {
  background-color: var(--pool-header-bg);
}

.tab-link {
  background-color: #444;
  border-radius: 5px 5px 5px 5px;
  padding: 2px;
  margin: 2px 4px 4px 4px;
  width: 4em;
  text-align: center;
  float: left;
  display: inline;
}

.tab-link:hover {
  background-color: #333;
}

.tab-link:hover p {
  color: #fff;
  background-color: #333;
}

.tab-link p {
  background-color: #444;
  color: #eee;
  line-height: 80%;
  margin: 1px 1px 1px 1px;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
}











