<div class="account-block">
  <div class="vertical-button-list">
    {% if session.username %}
      <ul>
        <li class="top">
          <h3 id="username"> {{ session.username }} </h3>
        </li>
        <li><a class="link-button" href="/user/{{ session.user_id }}/pools">User page</a></li>
        <li><a class="link-button" href="/log_out">Log out</a></li>
      </ul>
    {% else %}
      <form action="/log_in" method="post">
        <ul>
          <li>
            <h3> Log in </h3>
          </li>
          <li class="top">
            <label for="username">username:</label>
            <input type="text" name="username" class="field"/>
          </li>
          <li>
            <label for="password">password:</label>
            <input type="password" name="password" class="field"/>
          </li>
          {% if session.log_in_error %}
            <li>
              <p class="error">Wrong username or password</p>
            </li>
          {% endif %}
          <li>
            <input type="submit" value="log in" class="form-button"/>
          </li>
          <li class="bottom">
            <li><a class="link-button" href="/sign_in">sign in</a></li>
          </li>
        </ul>
      </form>
    {% endif %}
  </div>
</div>

