<!DOCTYPE html>
{% from "macros.html" import link_button, tab_link %}
<html>


<head>
  <title>some-app</title>
</head>

<body>
  <link rel="stylesheet" href="/static/style.css">
  <main class="main">
    <h1>Front Page</h1>
    <div class="tab-label">
      <p>Pools</p>
    </div>
    <div class="tab-link">
      {{ link_button("/", "users", tab_link("Users")) }}
    </div>
    <div class="tab-page">
      <div>
        {% include 'post-pool-list.html' %}
      </div>
    </div>
  </main>
</body>

</html>

