<div class="login">
  {% if session.username %}
  <p>
    Logged in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/logIn" method="post">
    {% if log_in_error %}
    <p>
      Wrong username or password
    </p>
    {% endif %}
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="login" />
  </form>
  <form action="/signIn">
    <input type="submit" value="sign in" />
  </form>
  {% endif %}
</div>


