
{% macro link_button(trunk, target,visual) %}  
  <a class="link-button" href="{{ trunk }}{{ target }}">{{ visual }}</a>
{% endmacro %}

{% macro post_pool_header(name, poster="", count="") %}  
  <div class="post-pool-header">
    <h3>{{ name }}</h3>
    <p>owner: {{ poster }}</p>
    <p>posts: {{ count }}</p>
  </div>
{% endmacro %}

{% macro post_header(name, poster="", count="", content="", pool="") %}  
  <div class="post-pool-header">
    <h3>{{ pool }}/{{ name }}</h3>
    <p id="content">{{ content }}</p>
    <p>poster: {{ poster }}, comments: {{ count }}</p>
  </div>
{% endmacro %}

{% macro user_header(name, pool_count="", post_count="", comment_count="") %}  
  <div class="post-pool-header">
    <h3>{{ name }}</h3>
    <p>pools: {{ pool_count }}, posts: {{ post_count }}, comments: {{ comment_count }}</p>
  </div>
{% endmacro %}



{% macro text_link(text) %}
  <p>{{text}}</p>
{% endmacro %}


