<div class="search-block">
<div class="horizontal-button-list" style="--n-buttons:5">
  <form action="/search" method="post">
  <ul>
    <li class="first">
      <input type="text" name="search" class="search-field"/>
    </li>
    <li>
      <select name="sort" class="form-button">
        <option value="by-name">by name</option>
        <option value="newest">newest</option>
        <option value="oldest">oldest</option>
      </select>
    </li>
    <li class="last">
      <input type="submit" value="search" class="form-button"/>
    </li>
  </ul>
  </form>
</div> 
</div> 
