<!DOCTYPE html>
<html>

<head>
  <title>some-app</title>
</head>

<body>
  <link rel="stylesheet" href="/static/style.css">
  <main>
    <h1>{{ title }}</h1>
    <div class="post">
      {% if poster_id == session.user_id %}
        <form action="/post/{{ post_id }}/delete" method="post">
          <input type="submit" value="delete"/>
        </form>
      {% endif %}
      <h2>{{ headline }}</h2>
      <p>
        {{ content }}
      </p>
    </div>
  </main>
  {% include 'log-in.html' %}
</body>

</html>

