<!DOCTYPE html>
{% from "macros.html" import link_button, text_link %}
<html>

<head>
  <title>some-app</title>
</head>
<body>
  <link rel="stylesheet" href="/static/style.css">
  <main class="main">
    <h1>{{ username }}</h1>

    <div class="tabs">
      <div class="tab-buttons">
        <div class="horizontal-button-list" style="--n-buttons:3">
          <ul>
            <li><a class="link-button" href="/user/{{ user_id }}/pools">pools</a></li>
            <li><a class="link-button" href="/user/{{ user_id }}/posts">posts</a></li>
            <li class="active-tab"><p>statistics</p></li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        kesken
      </div>
    </div>
  </main>
  {% include 'account.html' %}
  {% include 'previous.html' %}
</body>

</html>

